.button {
	width: 80vw;
}

.spinner-border {
	align-items: center;
	text-align: center;
	/* margin: 0 auto; */
}

.centered {
	align-items: center;
	text-align: center;
	padding: 1rem 1rem;
}

.align-right {
	text-align: right;
}

.custom-select {
	width: 10vw;
	/* border-color: yellowgreen; */
}

td {
	/* max-width: 80%; */
	/* overflow: hidden hidden; */
	/* text-overflow: clip;s */
	/* white-space: normal; */
	/* word-wrap: break-word; */
	word-break: break-all;
}

table {
	max-width: 100%;
}

.padded {
	padding: 1rem 1rem;
}
