.button {
	width: 80vw;
}

.centered {
	align-items: center;
	text-align: center;
	padding: 1rem 1rem;
}

.align-right {
	text-align: right;
}

.custom-select {
	width: 10vw;
	/* border-color: yellowgreen; */
}

td {
	word-break: break-all;
}

table {
	max-width: 100%;
}

.padded {
	padding: 1rem 1rem;
}
